<%= render "navbar" %>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">

      <h1 class="my-4">Proyecto Super Blog <br>

      </h1>
      <% @posts.each do |post| %>
      <div class="card mb-4">
        <div class="card-header text-muted">
          Publicado por <%= post.user.email %> hace <%= time_ago_in_words(post.created_at) %> <br>
          <% if post.user == current_user  %>

        </div>

        <div class="card-body">
          <h2 class="card-title"><%= link_to post.title, post_path(post) %></h2>
          <p class="card-text"><%= post.content %></p>
          <a href="#" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer">

          <%= link_to "Editar", edit_post_path(post) %>
          <%= link_to "Eliminar", post_path(post), method: :delete, data: {confirm: "Está seguro de eliminar el post?"}%>
          <% end %>
        </div>
      </div>

      
      <% end %>

      <!-- Blog Post -->
      

      <!-- ver Paginación en el template -->

    </div>
  </div>
</div>

