<%= render "navbar" %>
<%= render "layouts/alerts" %>
<div class="container">

  <div class="row">
   <div class="col-md-10 offset-md-1">
    <%= link_to 'Volver', posts_path %>
    <h1><%= @post.title %></h1>
    <h6 class="text-muted font-italic"><%= @post.user.email %></h6>
    <p>
      <%= markdown(@post.content) %>
    </p>

    <div class="comments">
      <% @comments.each do |comment| %>
      <div class="card">
        <p class="card-header"><%= comment.user.email %> comentó hace <%= time_ago_in_words(comment.created_at) %></p>
        <div class="card-body">
          <p class="card-text"><%=comment.body  %></p>   
        </div>
      </div><br>
      <% end %>
      <% if user_signed_in? %>
      <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="form-group">
        <label for="comment_body"><b>Nuevo comentario:</b></label>
        <%= f.text_area :body, class: "form-control" %> <br>
        <%= f.submit "Comentar", class: "btn btn-primary" %>
      </div>
      <% end %>
        
     


      <% end %>
    </div>
  </div>


</div>
